.expenseContainer{
  background-color:rgb(111, 63, 111);
  width: 50%;
  height: 500px;
  margin: 100px auto;
  color: aliceblue;
  padding:5rem;
  border-radius: 10px;
  justify-content: space-between;
  
}

.expenseDetails{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgb(230, 191, 229);
  padding: 1.5rem;
  border-radius: 10px;
  color: brown;
  margin-top: 2rem;

}
.dateCard{
  width: 8.5rem;
  height: 2rem;
  border-radius: 10px;
  padding: 1rem;
  font-size: 1.5rem;
}
.details{
  font-size: 1.5rem;
  display: flex;
  flex-direction: row;
  width:64%;
  height: 2rem;
  justify-content: space-between;
  margin-top: -14px;
}
.details p{
  background-color: rgb(178, 137, 217);
  height: 2rem;
  border-radius: 10px;
  padding: 1rem;
}